<nav>
	Test
</nav>
<br>

<br>

<div class="container">
	<div class="row">
	<% @building.each do |building| %>
		<div class="col-xs-10 col-lg-12">
			<div class="panel default-panel">
				<div class="panel-body">
					<img src="http://lorempixel.com/output/city-q-c-300-300-10.jpg" class="img-responsive">
					<div class="caption">
						<h3><%= building.development_name %>--Test</h3>
						<p>Lorem Ipsum</p>
						<p><%= building.street %> <%= building.compass_point %> <%= building.street_name %> </p>
						<p><%#= listing.date_available.strftime("%a, %M %d, %Y") %></p>
						<%= link_to "Stuff", buildings_path, class: 'btn btn-primary' %>
					</div>
				</div>
			</div>
		</div>
		<% building.listings.each do |building_listing| %>
		<div class="col-xs-10 col-lg-4">
			<div class="panel defaul-panel">
				<div class="panel-body">
					<img src="http://lorempixel.com/output/city-q-c-300-300-10.jpg" class="img-responsive">
					<div class="caption">
						<h3><%= building_listing.unit_no %></h3>
						<p>Lorem Ipsum</p>
						<p>Bedrooms: <%= building_listing.bedrooms %></p>
						<p>Baths: <%= building_listing.bath %></p>
					</div>
				</div>
			</div>
		</div>
		<% end %>

	<% end %>
	</div>
</div>

