<nav>
	Test
</nav>
<br>
<br>


<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="ibox product-detail">
      <div class="ibox-content">
        <h2 class="font-bold m-b-xs"> ADVANCED SEARCH </h2>
        <br>
        <%= form_tag "splash", id: "form", method: :get do %>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label>Location:</label>
              <%= select_tag "location", options_for_select(sofl_cities), class: 'form-control'%>
            </div>
          </div>
          <div class="col-lg-3">
            <label>Bed:</label>
            <input type="text" class="form-control" placeholder="Any" name="no_of_bed_rooms" id="no_of_bed_rooms">
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label>Bath:</label>
              <input type="text" class="form-control" placeholder="Any" name="no_of_bath_rooms" id="no_of_bath_rooms">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label>Square Foot Min:</label>
              <input type="text" class="form-control" placeholder="Any" name="min_sqr_ft" id="min_sqr_ft_id">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label>Square Foot Max:</label>
              <input type="text" class="form-control" placeholder="Any" name="max_sqr_ft" id="max_sqr_ft_id">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label>Price:</label>
              <input type="text" class="form-control" placeholder="Any" name="price" id="price">
            </div>
          </div>
          <div class="col-lg-3" >
             <div class="form-group">
              <label></label>
              <input type="submit" class="form-control" value="Search" id="btn_adv_search">
            </div>
          </div>
        </div>
        <!-- </form> -->
        <%end%>
      </div>
      <div class="ibox-footer">
      </div>
    </div>
  </div>
  <%if @building.blank? %>
  <div class="row">       
   <h2 class="font-bold m-b-xs"> Search criteria doesn't match. </h2>
  </div>
  <%end%>
</div>

<% @building.each do |building| %>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="ibox product-detail">
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-5">
            <div class="product-images">
              <div>
                <img src="http://lorempixel.com/output/city-q-c-300-300-10.jpg" class="img-responsive">
              </div>
              <div>
                <img src="http://lorempixel.com/output/city-q-c-300-300-10.jpg" class="img-responsive">
              </div>
              <div>
                <img src="http://lorempixel.com/output/city-q-c-300-300-10.jpg" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <h2 class="font-bold m-b-xs"><%= building.development_name %>--Test--</h2>
            <small>Many desktop publishing packages and web page editors now.</small>
            <hr>
            <div>
              <%= link_to "Schedule an Appointment Today", new_building_appointment_path(building), class: "btn btn-primary pull-right"%>
              <h1 class="product-main-price">$406,602 <small class="text-muted">Exclude Tax</small> </h1>
            </div>
            <hr>
            <h4>Building Info</h4>
            <div class="small text-muted"><%= building.remarks %>--Lorem Ipsum</div>
            <dl class="dl-horizontal m-t-md small">
              <dt>Available Listings</dt>
              <dd></dd>
	        		<% building.listings.each do |building_listing| %>
              <dt><%= link_to "Unit:#{building_listing.unit_no}", building_listing_path(building, building_listing) %></dt>
              <dd>Floor Model: <%= building_listing.unit_model %></dd>
							<% end %>
            </dl>
            <div class="text-right">
              <div class="btn-group">
                <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ibox-footer">
        <span class="pull-right">Full stock - <i class="fa fa-clock-o"></i><%= Date.today.strftime("%A, %m/%d/%Y %I:%M%p")%></span>
        The generated Lorem Ipsum is therefore always free
      </div>
    </div>
  </div>
</div>
<% end %>