<% @receipts.each do |receipt| %>
  <% message = receipt.message %>
  <div class="mail-box-header">
    <div class="pull-right tooltip-demo">
      <a class="btn btn-white btn-sm" id="reveal-reply" data-toggle="collapse" data-target="#form-hide<%=receipt.id%>" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>
      <% if conversation.is_trashed?(current_user) %>
        <%= link_to untrash_conversation_path(conversation), class: "btn btn-white btn-sm", method: :post,:data => { :toogle => "tooltip", :placement => "top", title: "Untrash"} do %>
        <i class="fa fa-undo"></i> Untrash
        <% end %>
      <% else %>
        <%= link_to trash_conversation_path(conversation), class: "btn btn-white btn-sm", method: :post, :data => { :toogle => "tooltip", :placement => "top", title: "Trash", confirm: 'Are you sure?'} do %>
          <i class="fa fa-trash-o"></i> Trash
        <% end %>
      <% end %>  
    </div>
    <h2>Message</h2>
    <div class="mail-tools tooltip-demo m-t-d">
      <h3>
        <span class="font-normal">Subject: </span><%= message.subject %>
      </h3>
      <h5>
        <span class="pull-right font-normal"><%=  local_time(message.created_at, format: '%A, %b %d, %Y, %I:%M %p' ) %></span>
        <span class="font-normal">From: </span><%= message.sender.username %> (<%= message.sender.email %>)
      </h5>
    </div>
  </div>
  <div class="mail-box">
    <div class="mail-body">
      <%= message.body %>
    </div>
    <div class="mail-text h-200 collapse" id="form-hide<%=receipt.id%>">
      <%= form_for :message, url: reply_conversation_path(conversation), html: {id: "reply-form"} do |f| %>
        <div class="form-group">
          <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
        </div>
      <div class="mail-body text-right tooltip-demo">
        <%= f.submit "Reply", class: "btn btn-white btn-sm", :data => { :toogle => "tooltip", :placement => "top", title: "Reply"} %>
        <% end %>
        <%#= link_to reply_conversation_path(conversation) do %>
        <!-- <i class="fa fa-reply"></i> Reply -->
        <%# end %>
        <% if conversation.is_trashed?(current_user) %>
          <%= link_to untrash_conversation_path(conversation), class: "btn btn-white btn-sm", method: :post,:data => { :toogle => "tooltip", :placement => "top", title: "Untrash"} do %>
          <i class="fa fa-undo"></i> Untrash
          <% end %>
        <% else %>
          <%= link_to trash_conversation_path(conversation), class: "btn btn-white btn-sm", method: :post, :data => { :toogle => "tooltip", :placement => "top", title: "Trash", confirm: 'Are you sure?'} do %>
            <i class="fa fa-trash-o"></i> Trash
          <% end %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
<% end %>