<%= form_with(model: user, local: true, html: {id: 'form', class: 'm-t'}) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @user.new_record? && !logged_in? %>
  <div class="form-group">
    <%= form.radio_button :role, 'realtor', id: :user_realtor %> Realtor <br>
    <%= form.radio_button :role, 'renter', id: :user_renter %> Renter <br>
  </div>
  <% end %>
  <div class="form-group">
    <%= form.text_field :username, id: :user_username, class: "form-control", placeholder: 'Username' %>
  </div>
  <div class="form-group">
    <%= form.text_field :first_name, id: :first_name, class: "form-control", placeholder: 'First Name' %>
  </div>
  <div class="form-group">
    <%= form.text_field :last_name, id: :last_name, class: "form-control", placeholder: 'Last Name' %>
  </div>
  <div class="form-group">
    <%= form.text_field :email, id: :user_email, class: "form-control", placeholder: 'Email' %>
  </div>
  <div class="form-group">
    <%= form.password_field :password, class: "form-control", placeholder: 'Password' %>
  </div>
  <div class="form-group">
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: 'Password Confirmation' %>
  </div>


  <% if logged_in? %>
  
  <div class="form-group">
  <%= form.collection_select :company_id, Company.all, :id, :name, {}, {class: "form-control"} %>

  </div>

  <div class="form-group">
    <%= form.select :role, options_for_select(user_roles, selected: @user.role),{}, class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= form.text_field :title, id: :user_title, class: "form-control", placeholder: 'Title' %>
  </div>

  <% end %>

  <div class="actions">
    <%= form.submit yield(:button_text), class: "btn btn-primary block full-width m-b" %>
  </div>
<% end %>
