<%= form_with(model: user, local: true, html: {id: 'form', class: 'm-t'}) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :username, id: :user_username, class: "form-control", placeholder: 'Username' %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, id: :user_email, class: "form-control", placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= form.password_field :password, id: :user_password_digest, class: "form-control", placeholder: 'Password' %>
  </div>

   <div class="form-group">
    <%= form.password_field :password_confirmation, id: :user_password_digest, class: "form-control", placeholder: 'Password Confirmation' %>
  </div>

  <div class="form-group">
    <%= form.text_field :company_id, id: :user_company, class: "form-control", placeholder: 'Company' %>
  </div>

  <div class="form-group">
    <%= form.text_field :title, id: :user_title, class: "form-control", placeholder: 'Title' %>
  </div>

  <div class="actions">
    <%= form.submit 'Register', class: "btn btn-primary block full-width m-b" %>
  </div>
<% end %>
