<% provide(:title, 'Update User Info') %>
<% provide(:button_text, 'Update') %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Account Info</h2>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></a></li>
      <li class="active"><strong><%= link_to "Rental Communities", buildings_path %></strong></li>
      <% if can? :create, Building %>
      <li><%= link_to "New Rental Community", new_building_path %></li>
      <%end%>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<h1>Editing User</h1>
<div class="ibox-content">
	<%= render 'form', user: @user %>

	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', users_path %>
</div>
