<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<table>
  <tbody>
    <% @user.buildings.each do |user_building| %>
      <tr>
        <td><%= user_building.id %></td>
        <td><%= user_building.legal %></td>
        <td><%= link_to "Show", user_building %></td>
        <td><%= link_to "Edit", edit_building_path(user_building) %></td>
    <% end %>    
  </tbody>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= link_to "New Building", new_building_path %>
