<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<table>
  <tbody>
    <% @user.buildings.each do |user_building| %>
      <tr>
        <td><%= user_building.id %></td>
        <td><%= user_building.legal %></td>
        <td><%= link_to "Show", user_building %></td>
        <td><%= link_to "Edit", edit_building_path(user_building) %></td>
      </tr>
      <tr>
        <% user_building.listings.each do |building_listings| %>
        <td><%= building_listings.id %></td>
        <td><%= building_listings.unit_model %></td>
        <td><%= building_listings.unit_no %></td>
        <td><%= link_to "Show", building_listing_path(building_listings) %></td>
        <td><%= link_to "Edit", edit_building_listing_path(building_listings) %></td>     
        <% end %>
      </tr>
    <% end %>    
  </tbody>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= link_to "New Building", new_building_path %>
