<h5>Folders</h5>
<ul class="folder-list m-b-md" style="padding: 0">
  <li class="<%= active_page(:inbox) %>">
    <%= link_to mailbox_inbox_path do  %>
      <i class="fa fa-inbox"></i> Inbox
      <span class="label label-warning pull-right"><%#= unread_messages_count %></span>
    <% end %>
  </li>
  <li class="<%= active_page(:sent) %>">
    <%= link_to mailbox_sent_path do %>
      <em class="fa fa-paper-plane-o fa-lg"></em>
      <span>Sent</span>
    <% end %>
  </li>
  <li class="<%= active_page(:trash) %>">
    <%= link_to mailbox_trash_path do %>
      <em class="fa fa-trash-o fa-lg"></em>
      <span>Trash</span>
    <% end %>
  </li>
</ul>

          <ul class="folder-list m-b-md" style="padding: 0">
            <li><a href="<%= url_for :controller => 'mailbox', :action => 'inbox' %>"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">16</span> </a></li>
            <li><a href="<%= url_for :controller => 'mailbox', :action => 'inbox' %>"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
            <li><a href="<%= url_for :controller => 'mailbox', :action => 'inbox' %>"> <i class="fa fa-certificate"></i> Important</a></li>
            <li><a href="<%= url_for :controller => 'mailbox', :action => 'inbox' %>"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">2</span></a></li>
            <li><a href="<%= url_for :controller => 'mailbox', :action => 'inbox' %>"> <i class="fa fa-trash-o"></i> Trash</a></li>
          </ul>