<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>New Rental Community or Property</h2>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></a></li>
      <li class="active"><strong><%= link_to "Rental Communities", buildings_path %></strong></li>
      <% if can? :create, Building %>
      <li><%= link_to "New Rental Community", new_building_path %></li>
      <%end%>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<p id="notice"><%# notice %></p>
<h1>Rental Communities</h1>
<% @buildings.each do |building| %>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="ibox product-detail">
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-5">
            <div class="product-images">
              <div>
                <img src="http://lorempixel.com/output/city-q-c-300-300-10.jpg" class="img-responsive">
              </div>
              <div>
                <img src="http://lorempixel.com/output/city-q-c-300-300-10.jpg" class="img-responsive">
              </div>
              <div>
                <img src="http://lorempixel.com/output/city-q-c-300-300-10.jpg" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <h2 class="font-bold m-b-xs"><%= building.development_name %>--Test--</h2>
            <small>Many desktop publishing packages and web page editors now.</small>
            <hr>
            <h4>Building Info</h4>
            <div class="small text-muted"><%= building.remarks %>--Lorem Ipsum</div>
            <hr>
            <dl class="dl-horizontal m-t-md small">
              <dt>Active Listings</dt>
              <dd><%= building.listings.count %></dd>
              <% building.listings.each do |building_listing| %>
              <dt><%= link_to "Unit:#{building_listing.unit_no}", building_listing_path(building, building_listing) %></dt>
              <dd>Floor Model: <%= building_listing.unit_model %></dd>
            </dl>
            <div class="text-right">
              <div class="btn-group">
                <%= link_to "See Detailed List of MLS Listings", building_listings_path(building), class: "btn btn-white btn-sm" %> 
                <%= link_to "See Scheduled Appointments Calendar", building_listing_appointments_path(building, building_listing), class: "btn btn-white btn-sm pull-right" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="ibox-footer">
        <span class="pull-right">As of <i class="fa fa-clock-o"></i><%= Date.today.strftime("%A, %m/%d/%Y")%></span>
        The generated Lorem Ipsum is therefore always free
      </div>
    </div>
  </div>
</div>
<% end %>
  
</div>
<br>
<br>
<br>
<% if can? :create, Building %>
  <%= link_to 'New Rental Community', new_building_path, class: 'btn btn-primary' %>
<%end%>
<script>
  $(function(){
    var windowH = $(window).height();
    var wrapperH = $('.box_width_nuero').height();
    if(windowH > wrapperH) {                            
        $('.box_width_nuero').css({'height':($(window).height())+'px'});
    }                                                                               
    // $(window).resize(function(){
    //     var windowH = $(window).height();
    //     var wrapperH = $('#wrapper').height();
    //     var differenceH = windowH - wrapperH;
    //     var newH = wrapperH + differenceH;
    //     var truecontentH = $('#truecontent').height();
    //     if(windowH > truecontentH) {
    //         $('#wrapper').css('height', (newH)+'px');
    //     }

    // })          
  });
</script>
