<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @building.user %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>

<%= link_to "See Building Listings", building_listings_path(@building), class: 'btn btn-info' %>

