<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    New Building or Property
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %></a>
      </li>
      <li class="active">
        <strong><%= link_to "Portfolio", buildings_path(@company, @buildings) %></strong>
      </li>
      <li>
        <%= link_to "New Building or Property", new_building_path %>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<h1>Company Info</h1>
<div class="ibox-content">
	<p id="notice"><%= notice %></p>

	<p><strong>Name: </strong><%= @company.name %> |<%= link_to 'Edit', edit_company_path(@company) %> </p>
	<br/>
	<table class='table'>
    <thead>
      <tr>
        <th>Id#</th>
        <th>Name</th>
        <th>Listing Count</th>
        <th>Appointment Count</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @company.buildings.each do |company_buildings| %>
        <tr>
          <td><%= company_buildings.id %></td>
          <td><%= company_buildings.development_name %></td>
          <td><%= company_buildings.listings.count %></td>
          <% company_buildings.listings.each do |company_buildings_listings| %>
          <td><%= company_buildings_listings.appointments.count %></td>
          <% end %>
          <td><%= link_to 'Show', company_buildings %></td>
          <td><%= link_to 'Edit', edit_company_path(company_buildings) %></td>
          <td><%= link_to 'Destroy', company_buildings, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


	
</div>
