<%= form_for([@building, @listing, @appointment], html: {id: 'form', class: 'wizard-big form-horizontal', multipart: true}, :authenticity_token => true) do |form| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :realtor_name, class: 'control-label col-sm-4' %>
    <div class="col-sm-2">
      <%= form.text_field :realtor_name, id: :appointment_realtor_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :realtor_phone, class: 'control-label col-sm-4' %>
    <div class="col-sm-2">
      <%= form.text_field :realtor_phone, id: :appointment_realtor_phone, class: 'form-control', placeholder: 'xxx-xxx-xxxx' %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :start_time, class: 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= form.datetime_select :start_time, id: :appointment_start_time, ampm: true, order: [:month, :day, :year],  prompt: {month: 'Choose month', day: 'Choose day',  year: 'Choose year'} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :end_time, class: 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= form.datetime_select :end_time, id: :appointment_start_time, ampm: true, order: [:month, :day, :year],  prompt: {month: 'Choose month', day: 'Choose day',  year: 'Choose year'} %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
