<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    New Building or Property
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Buildings", buildings_path %></li>
      <li><%= link_to "Portfolio", building_listings_path %></li>
      <li class="active"><strong><%= link_to "Appointment Calendar", building_listing_appointments_path %></strong></li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animaed fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="box">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Appointment Details<small class="m-l-sm"></small></h5>
          </div>
        <div class="ibox-content">
          <p id="notice"><%= notice %></p>
          <p><strong>Appointment ID: </strong><%= @appointment.id %></p>
          <p><strong>Realtor name: </strong><%= @appointment.realtor_name %>
          </p><p><strong>Realtor phone: </strong><%= @appointment.realtor_phone %></p>
          <p><strong>Start time: </strong><%= @appointment.start_time.strftime('%A, %m/%d/%Y @ %I:%M%p') %></p>
          <p><strong>End time: </strong><%= @appointment.end_time.strftime('%A, %m/%d/%Y @ %I:%M%p') %></p>
          <p><strong>Listing: </strong>Unit# <%= @appointment.listing.unit_no %></p>

          <%= link_to 'Edit Appointment Info', edit_building_listing_appointment_path(@appointment) %> |
          <%= link_to 'Cancel Appointment', building_listing_appointment_path(@appointment), method: :delete, data: { confirm: 'Are you sure?' } %> |
          <%= link_to 'Back to Calendar', building_listing_appointments_path %>


