<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    Appointment Calendar
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %></a>
      </li>
      <li class="active">
        <strong><%= link_to "Listing Portfolio", building_listings_path %></strong>
      </li>
      <li>
        <a href="#">Something will add</a>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animaed fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="box">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Rented Unit Record Details<small class="m-l-sm"></small></h5>
          </div>
        <div class="ibox-content">
          <p id="notice"><%= notice %></p>
          <p><strong>Unit no:</strong><%= @rented_unit.unit_no %></p>
          <p><strong>Unit model:</strong><%= @rented_unit.unit_model %></p>
          <p><strong>Price:</strong><%= @rented_unit.price %></p>
          <p><strong>Bedrooms:</strong><%= @rented_unit.bedrooms %></p>
          <p><strong>Bathrooms:</strong><%= @rented_unit.bathrooms %></p>
          <p><strong>Half baths:</strong><%= @rented_unit.half_baths %></p>
          <p><strong>Square footage:</strong><%= @rented_unit.square_footage %></p>
          <p><strong>Leased:</strong><%= @rented_unit.leased %></p>
          <p><strong>Appointment:</strong><%= @rented_unit.appointment.start_time.strftime("%A, %B %d, %Y @ %I:%M %p") %></p>
          <%= link_to 'Edit', edit_building_listing_appointment_rented_unit_path(@building, @listing, @appointment, @rented_unit) %> |
          <%= link_to 'Back', building_listing_appointment_rented_units_path(@building, @listing, @appointment) %>
