<p id="notice"><%= notice %></p>

<p>
  <strong>Unit no:</strong>
  <%= @rented_unit.unit_no %>
</p>

<p>
  <strong>Unit model:</strong>
  <%= @rented_unit.unit_model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rented_unit.price %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @rented_unit.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @rented_unit.bathrooms %>
</p>

<p>
  <strong>Half baths:</strong>
  <%= @rented_unit.half_baths %>
</p>

<p>
  <strong>Square footage:</strong>
  <%= @rented_unit.square_footage %>
</p>

<p>
  <strong>Leased:</strong>
  <%= @rented_unit.leased %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @rented_unit.appointment %>
</p>

<%= link_to 'Edit', edit_building_listing_appointment_rented_unit_path(@building, @listing, @appointment, @rented_unit) %> |
<%= link_to 'Back', building_listing_appointment_rented_units_path(@building, @listing, @appointment) %>
