<!DOCTYPE html>
<html>
  <head>
    <title>LetsLeaseIt</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="giFNTcZ1EXIKQEdsaoE_mtN1kMnJKdT9TauOr-iXOP0" />
    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets_manifest.files.values.map{|v| v['assets/stylesheets']}.include?('#{params[:controller]}') %>
    <%=stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.scss") %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <% if current_user %>
   <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
      <!-- Navigation -->
      <%= render 'layouts/navigation' %>
      
      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg <%= @extra_class %>">
      
        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>
        
        <!-- Main view  -->
        <div class="row">
          <div class="col-lg-12">
            <%= yield %>
            <br>
            <br>
          </div>
          <%= render 'layouts/footer' %>
        </div>
        
        <!-- Footer -->
      
      </div>
      <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->


    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.js") %>
    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>
    <% else %>
    <%= yield %>
    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.js") %>
    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>
    <% end %>
  </body>
</html>
